<div class="jumbotron">
  
  <div class = "banner">
  
  <button type="button" class="btn btn-default" aria-label="Right Align" id="content_button">Content</button>
  
  
  </div>
  
  <div class = main_body>
  <div class ="panel" id = "main_panel">
  <%= image_tag("portrait.png", alt: "portrait", id: "portrait") %>
  </div>
  
  <div class = "panel" id="main_content">
  testing2
  </div>
  </div>
  
</div>